body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial, sans-serif';
    background-color: #FAF3E0; /* Peach background to give a warm undertone to your page */
}

.top-bar {
    display: flex;
    justify-content: space-around;
    background-color: #1F1F1F; /* Black for the top bar */
    padding: 20px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-title {
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Space between the title and the iframe */
}

.scoreboard-container, .timer-container, .rule-button-container {
    color: #FAF3E0; /* Peach for the text to contrast against the black background */
    font-size: 20px;
}

.rule-button-container .centered-button {
    padding: 10px 50px;
    background-color: #78C2AD; /* Vibrant teal for the button */
    border-radius: 5px;
    color: #1F1F1F; /* Black for the button text */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.rule-button-container .centered-button:hover {
    background-color: #56A08E; /* A darker shade of teal for hover effect */
}

.main-content {
    display: flex;
    align-items: flex-start; /* This ensures that both children start at the top */
}

.left-sidebar-container {
    margin-top: 30px;
    background-color: #654321; /* Brown for the sidebar */
    height: 100vh;;
    width: 200px;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-sidebar-container a {
    display: block;
    color: #FAF3E0; /* Peach for the text to contrast against the brown background */
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.left-sidebar-container a:hover {
    background-color: #78C2AD; /* Teal for hover effect */
    color: #1F1F1F; /* Black for the text to contrast against the teal background */
}

.result{
    margin-top: 50px;
    margin-left: 250px;
    height: 100px;
    width: calc(100% - 220px);
    position: absolute;
    z-index: 2;
}

#resultText{
    color: red;
    font-size: 50px;
}

/*add for selection*/
.selected::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0); /* Initially transparent */
    opacity: 0; /* Initially, make it completely transparent */
    transition: opacity 0.3s, background-color 0.3s; /* Add transitions for a smooth effect */
    z-index: 2; /* Higher z-index value to appear on top of card-box */
}

.selected:hover::before {
    background-color: rgba(255, 0, 0, 0.5); /* Transparent red (adjust the alpha value for the desired transparency) */
    opacity: 1; /* On hover, make the overlay fully visible */
}


.card-display-container {
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: calc(100vh - 100px);
    width: calc(100% - 220px);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.card-box {
    position: relative;
    background-color: #FAEBD7; /* Light peach for the card background */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.3s; /* Smooth transition for a popping effect on hover */
    z-index: 1;
}

.card-box:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover for a popping effect */
}

.column {
    margin: 0 10px;
    width: calc(33.333% - 20px);
}

.column a {
    display: block;
    margin: 10px 0;
    padding: 20px;
    background-color: #D5A58B; /* Brownish peach for column background */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: calc(50% - 20px);
    box-sizing: border-box;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.column a:hover {
    background-color: #B8876E; /* Darker brownish peach for hover effect */
}

.card {
    width: 80%;
    height: 150px;
    border-radius: 5px;
}
