/* Styling for timer */

/* styling for timer container */
.timer-container {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
}

/* styling for timer box */
.timer-box {
    padding: 20px;
    border: 2px solid black;
    font-size: 2em;
}

